<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_get_card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>save_user_card_with_wrong_details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_delete_card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>get_user_card_that_not_exist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_user_card_that_not_exist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verify_Save_card</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
