<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.delete_user_card_that_not_exist()[pri:4, instance:Test@42d80b78]">delete_user_card_that_not_exist</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:36</td>   <td>-645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.get_user_card_that_not_exist()[pri:3, instance:Test@42d80b78]">get_user_card_that_not_exist</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:37</td>   <td>537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.save_user_card_with_wrong_details()[pri:5, instance:Test@42d80b78]">save_user_card_with_wrong_details</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:31</td>   <td>-6372</td> <td>&nbsp;</td><td title="&gt;&gt;Test.test()[pri:0, instance:Test@42d80b78]">&gt;&gt;test</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:38</td>   <td>1141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verifyHeader()[pri:6, instance:Test@42d80b78]">verifyHeader</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:32</td>   <td>-5325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verify_Save_card()[pri:0, instance:Test@42d80b78]">verify_Save_card</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:35</td>   <td>-2046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verify_delete_card()[pri:2, instance:Test@42d80b78]">verify_delete_card</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/19 16:02:34</td>   <td>-2663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.verify_get_card()[pri:1, instance:Test@42d80b78]">verify_get_card</td> 
  <td>main@327177752</td>   <td></td> </tr>
</table>
